/*---Navbar---*/


.nav-link {
    transition: 0.35s ease-in-out;
    -moz-transition:0.35s ease-in-out;
    -webkit-transition:0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}
.nav-link:hover {
    background-color: #df5819;
}
a.navbar-brand {
    font-size: 36px;
    font-weight: 600;
}

/*---Body---*/

.main {
    font-family: 'Heebo', sans-serif;
    color: #fff;
    height: 100vh; 
    background: url("../images/wing6.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    position:relative;
}

.name {
    margin-top: 35vh;
}

/*---Footer---*/

.social-links li a i {
    width: 40px; 
    height: 40px;
    padding: 15px 0;
    margin-top: 30px;
    border-radius: 50%; 
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #a7a7a7;
    background-color: #fff;
    transition: background-color 0.35s ease-in-out;
    -moz-transition:background-color 0.35s ease-in-out;
    -webkit-transition:background-color 0.35s ease-in-out;
    -o-transition:background-color 0.35s ease-in-out;
}
.social-links li a i:hover {
    background-color: #df5819;
}
footer {
    position:initial;
    
}

p.uppercase.text-center {
     color: #fff;
     font-size: 25px;
     margin-top: 30px;
     font-weight: 100;
}

/*---About Us---*/

.title {
    font-family: 'Heebo', sans-serif;
    background-color: #a7a7a7;
}
 .title hr {
     width: 100%;
}
 h1.uppercase.text-center {
     font-size: 28px;
     font-weight:700;
}
div,iframe {
    display: block;
}

    /*---Wings---*/
div.description {
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
}
div.image {
        padding: 15px;
        padding-right: 15px;
        margin-top: 30px;
        margin-bottom: 60px;
}
.wrapper {
    height: 400px;
    width: 400px;
}  
  
.image-one {
    background-image: url("../images/evolution.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
}
.image-two {
    background-image: url("../images/emotion.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
}
.image-three {
    background-image: url("../images/eternity.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75);
}  




